<footer class="inner">
    <div class="footer-inner">
        <div class="col-lg-pull-1">
            <a class="pull-left" href="https://www.facebook.com/prensa.la.falda/" target="_blank">
                <i class="fa fa-facebook-square fa-3x"></i>
            </a>
        </div>
        <div class="col-lg-pull-2">
            <a class="pull-left" href="https://www.youtube.com/user/TurismoLaFalda?feature=guide" target="_blank">
                <i class="fa fa-youtube-square fa-3x"></i>
            </a>
        </div>
        <div class="pull-left">
            2016 &copy; SITCOM S.A
        </div>
        <div class="pull-right" >
            <span class="go-top"><i class="fa fa-chevron-up"></i></span>
        </div>
    </div>
</footer>
